@import 'kit/mixins';
@import 'kit/variables';

@media screen and (max-width: 480px) {
  .intro {
    background: url(../assets/bg_robot_mobile.png) no-repeat;
    height: 674px;
    max-width: 480px;
  }

  .header {
    margin-left: 10px;

    &__logo {
      display: block;
      margin-left: 10px;
    }

    &__nav--list {
      display: none;
    }
  }

  .intro__content {
    max-width: 480px;
    margin-left: 0;
    margin-top: 0;

    &--pic {
      padding: 0;
      animation: none;

      @keyframes spinMobile {
        0%,
        100% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.2);
        }
      }

      img {
        width: 195px;
        height: auto;
        margin-left: 140px;
      }
    }

    h1 {
      width: fit-content;
      margin-left: 100px;
      font-size: 55px;
      line-height: 68px;
      margin-top: 15px;
    }

    p {
      font-size: 22px;
      line-height: 32px;
      max-width: 300px;
      margin-left: 50px;
      margin-top: 50px;
      text-align: center;
    }
  }
}
