@import 'kit/mixins';
@import 'kit/variables';

.intro {
  position: relative;
  width: 100%;
  height: 100vh;

  background:
    url(../assets/bg_robot.png) no-repeat right bottom,
    linear-gradient(87.49deg, #0c1011 21.11%, #080e0e 79.57%);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 250px;
  padding-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__logo {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 600;
  }
}

.intro__content {
  max-height: 500px;
  max-width: 675px;
  margin-left: 175px;
  margin-top: 25px;
  display: inline-block;

  &--pic {
    position: relative;
    padding-left: 160px;
    transition: transform 0.5s linear;
    animation: spin 3s linear infinite;

    @keyframes spin {
      0%,
      100% {
        @include transformation(0deg, 1);
      }

      50% {
        @include transformation(180deg, 1.3);
      }
    }
  }

  h1 {
    font-family: $robo;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    line-height: 77px;
  }

  p {
    max-width: 500px;
    @include main-font-style;
    font-size: 24px;
    line-height: 32px;
    color: #e2e2e2;
    text-align: start;
    position: relative;
    padding-left: 35px;
  }
}
